body, html {
  height: 100%;
}
.back-ground {
  height: 100%;
  background: #761791; /* For browsers that do not support gradients */
  background: radial-gradient(#f422fc,  #cc23fc, #761791); /* Standard syntax */
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.logo-lyft {
  margin-top: 150%;
  width: 50%;
  height: 50%;
}

.abajo{
  position: fixed;
  bottom: 0;
  width:100%;
}

.arrow{

}

.btn-rigth {
  background-color: #f422fc;
}

.next {
  color: #FFF;
  padding: 3%;
  background-color: #f422fc;
}
.fondo {
  height: 100%;
  background-image: url(https://media.giphy.com/media/vsRI1Ksy4cpwY/giphy.gif);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.key {
	border: none;
  background-color: white;
  border-bottom: 2px solid #26ECCE;
  width: 30%;
  padding-left: 15px;
}
.btn-code {
	background-color: #26ECCE;
	color: #FFF;
	border: none;
	border-radius: 5px;
	height: 45px;
	font-size: 1.3em;
	margin-top: 0.8em;
}
.input-off{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
