<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Verify</title>
  </head>
  <body>
    <section class="container">
      <a href=""><span class="glyphicon glyphicon-menu-left icon-left"></span></a>
      <div class="text-center">
        <h2>Verify phone number</h2>
        <h5>Join now for free ride credit</h5>
        <hr>
      </div>
    </section>
    <section class="container-fluid text-center abajo next">
      <a href="../views/data-user.html" class="next">Next</a>
    </section>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  </body>
</html>
